# Godot
.godot/
*.exe
*.elf
*.so
*.dylib

# Builds
export/
builds/
dist/

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# User-specific
user:://
